#pragma once

const char* WIFI_SSID = "your-hotspot";
const char* WIFI_PASSWORD = "your-password";
const char* BACKEND_HOST = "192.168.1.10";
const int BACKEND_PORT = 3000;
const char* DEVICE_ID = "ARD-001";

